Streamlit==1.60.0
Starlette==0.52.1
openai
langchain
langchain-openai
langchain-community
langchain-text-splitters
chromadb
pypdf
pdfplumber
python-dotenv
pandas
pydantic
tiktoken
pdfrw
fillpdf
reportlab
requests
beautifulsoup4
Markdown